* { margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #dff291;
    padding: 10px;
}

.firstnavbar {
    display: flex;
    justify-content: flex-end;
}

.btn {
    margin: 5px;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px
    #00ff0880;
}

.logobar {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.companyName {
    font-size:xx-large;
    align-self: flex-end;
    font-weight: 700;
}

.companyIcon {
    width: 35px;
    height: auto;
    margin: 10px;
}

.secondnavbar {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: baseline;
}

.searchbar {
    margin: 5px;
}


.autumnbackground {
    background-image: url("https://img.freepik.com/premium-photo/haunted-pumpkin-patch-halloween-background_1170794-105924.jpg");
    background-size: cover;
    background-position: center;
}

.autumnSalesTitle {
    background-color: #fdb467;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    position:relative;
}

.autumntitle {
    text-align: center;
    margin: 10px;
}

.autumnOffers {
    display: flex;
    justify-content: space-evenly;
}

.offerTitle {
    font-size: larger;
    list-style-type: square;
}

ul.a {
    list-style-type: circle;
}

.autumnImages {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.saleAmount {
    font-size: xx-large;
    font-weight: 700;
    color: red;
    position: absolute;
    background-color:#dff291;
    border-radius: 10px;
}



.flowerSection {
    background-color: #FFD5D5;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    position:relative;
}


.flowertitle {
    text-align: center;
    margin: 10px;
}

.flowerLinks {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

figure {
    display: inline-block;
    text-align: center;
}

.flowerImages {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}


.tipsSection {
    background-color: #E8D9EC;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.tipsTitle {
    text-align: center;
    margin: 10px;
}

.tipsText {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.infoText {
    flex-grow: 1;
}

.tipsPictures {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 20px;
}


.helpSpace {
    background-color: #fdb467;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    position: fixed;
    bottom: 1%;
    right: 2%;
}


.footerNav {
    background-color: #DFF291;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    font-size:x-small;
}

.finalLinks {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.finalInfo {
    margin: 10px;
    display: flex;
    justify-content: center;
}